<%- include ../header %>
    <h2>Admin</h2>
    <div>
        <ul>
            <li><a href="admin/categorias">GERENCIAR CATEGORIAS</a></li>
            <li><a href="admin/vagas">GERENCIAR VAGAS</a></li>
        </ul>
    </div>
<%- include ../footer %>